.tab-footer {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.tab-content {
    border: 1px solid #ccc;
}
.tab-header {
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px;
}
.tab-header.selected {
    border-bottom: none;
}

.tab-header div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-header div:hover {
    background-color: #ddd;
}

.tab-header div.active {
    background-color: #ccc;
}
.left-content {
    display: inline-block;
    min-width: 20vw;
    min-height: 90vh;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: -20px;
}
.right-content { 
    min-height: 90vh;
    width: auto;
    display: inline-block;
    overflow: hidden;
}
.search-results {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.flyers-footer {
    padding: 5px;
    border-top: 1px solid #ccc;
    max-height: 30px;
}